# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/

# Example app build files
example/build/
example/**/build/
example/**/.dart_tool/
example/**/local.properties
example/**/*.iml
example/**/.gradle/
example/**/gradle-wrapper.jar
example/**/gradlew
example/**/gradlew.bat
example/**/GeneratedPluginRegistrant.*
example/**/ephemeral/
example/**/Flutter/ephemeral/
example/**/Flutter/Generated.xcconfig
example/**/Flutter/flutter_export_environment.sh
example/**/ios/Flutter/AppFrameworkInfo.plist
example/**/ios/Flutter/Debug.xcconfig
example/**/ios/Flutter/Release.xcconfig
example/**/macos/Flutter/ephemeral/
example/**/macos/Flutter/Flutter-Debug.xcconfig
example/**/macos/Flutter/Flutter-Release.xcconfig
example/**/macos/Flutter/GeneratedPluginRegistrant.swift